*{
    margin:0;
    padding: 0;
}
.main{
    height:auto;
    width:100%;
    float:left;
}

.logo{
    height:60px;
    width:60px;
    
}
.menu{
    z-index:1;
    height:auto;
    width:100%;
    position: sticky;
    top:0;
    background-color: white;
}
.nav_bar{
    background: transparent;
}
.list-group li{
    font-size:15px;
}
.nav-item a:hover{
    color:green;
}
.slider_contain h4{
    animation: move2 0.5s ease-in 0s 1;
    width:200px;
    background-color: rgb(236, 236, 236);
}
.slider_c{
    height: 60px;
    width:60px;
    background-color: rgb(223, 233, 245);
}
.slider_c:hover{
    background-color: rgb(2, 130, 155)
}

.img_manage{
    height:600px;
    width:500px;
    border-radius:20px;
    position: absolute;
}
.img_mid{
    margin-top:170px;
    height:200px;
    width:230px;
    position: relative;
    box-sizing: border-box;
}
.exp_15{
    background-color: rgb(1, 95, 46);
    height:90px;
    text-align: center;
    font-size:15px;
    width:230px;
    margin-left:300px;
    position: relative;
    animation: move 1s ease-in 0s infinite;
}

@media (max-width:667px) {
    .img_manage{
        height:600px;
        width:90%;
        position: static;
        margin-left:5%;
    }
    .img_mid{
        margin-top:20px;
        margin-left:5%;
        height:400px;
        width:90%;
    }
    .exp_15{
        margin-top:20px;
        height:80px;
        width:70%;
        margin-left:12.5%;
    }
    
} 
    

@keyframes move {
    from{
        top:-40px;
    }
    to{
        top:-20px;
    }
}

.best_text{
    font-size: 12px;
}
.center_img{
    /* height:300px; */
    width:280px;
}
.dream_event{
    background-image: url("c.gif");
    background-size:cover;
    height:250px;
    width:100%;}
.dream_event1{
    background-color: rgb(0, 0,50,0.8);
}

.profile_pic{
    height:130px;
    width:130px;
}
.profile_pic2 {
    height: 100px;
    width: 130px;
}
.dream_txt{
    font-size:13px;
}
.card_services{
    height:300px;
    width:100%;
}
.card1{
    animation: c1 1s ease 1s 1 ;
}
@keyframes c1 {
    0%{
        top:200px;
    }
    100%{
        top:0px;
    }
    
}
.head_hover{
    background-color: rgb(175, 174, 174);
    color:green;
}
.head_hover:hover{
    background-color: rgb(4, 100, 142);
    color:white;
}
.footer{
    font-size:13px;
}
